/* CUSTOM CSS */

#addTaskBtn {
	margin-top: 1em;
}

.outer-tasks-container {
	border-right: 1px solid #ccc;
	transition: background-color .3s;
}

.outer-tasks-container h2 {
	text-align: center;
}

.outer-tasks-container:last-child {
	border-right: none;
}

.inner-tasks-container {
	min-height:70vh;
/* 	overflow: auto; */
}

.inner-tasks-container ul {
	padding: 0;
}

.task {
	cursor:grab;
	color:#fff;
	list-style: none;
	padding:10px 20px;
	border-radius: 3px;
	margin-bottom:10px;
}

.task * {
	display: inline-block;
}

.task-name {
	margin-top:10px;
}

.active {
    background: #e0e0e0;
}

.dragged {
	box-shadow:0 0 20px rgba(0,0,0,.4);
	cursor:grabbing;
	transition: transform .3s;
}

.panel-heading {
	display:inline-block;
	border-radius: 3px 0 3px 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position:static;
}